@page "/recipes/{id:guid}"

@attribute [Authorize]
@inject IRecipeService RecipeService
@inject NavigationManager Navigation
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudContainer MaxWidth = "MaxWidth.ExtraSmall">
    <MudPaper Elevation="3" Class="pa-8 mt-4" style="font-size: 1.1rem;"> 
        @if (_recipe == null)
        {
            <MudProgressCircular Indeterminate="true" />
        }
        else
        {

            <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true" Class="pb-4">@_recipe.Title</MudText>
            <MudPaper>
                <dl Class="pa-4 mt-2">
                    @if(_recipe.Description != null)
                    {
                        <dt Class="mt-2"><strong>Description : </strong>@_recipe.Description</dt>
                    }
                    <dt Class="mt-2"><strong>Portions : </strong>@_recipe.Servings</dt>
                    @if(_recipe.PrepTimeMinutes >0)
                    {
                        <dt Class="mt-2"><strong>Temps de préparartion : </strong>@_recipe.PrepTimeMinutes </dt>
                    }
                    @if(_recipe.CookTimeMinutes>0)
                    {
                        <dt Class="mt-2"><strong>Temps de cuisson : </strong>@_recipe.CookTimeMinutes</dt>
                    }
                    @if(_recipe.Difficulty != null)
                    {
                        <dt Class="mt-2" ><strong>Difficulté : </strong>
                            @for (int i = 0; i <= (int)_recipe.Difficulty; i++)
                            {
                               <span>🧑‍🍳</span>
                            }
                        </dt>
                    }
                    <MudStack Class="mt-2" Row="true" AlignItems="AlignItems.Center">
                        <dt><strong>Recette : </strong></dt>
                        @if(_recipe.IsPublic)
                        {
                            <MudChip T="string" Color="Color.Primary" Icon="@Icons.Material.Filled.Public">Publique</MudChip>
                        }
                        else
                        {
                            <MudChip T="string" Color="Color.Default" Icon="@Icons.Material.Filled.Lock">Privée</MudChip>
                        }
                    </MudStack>
                </dl>
            </MudPaper>
            <MudPaper Class="pb-4">
                <MudText Align="Align.Center" Color="Color.Secondary" GutterBottom="true" Class="pt-4 mt-2">Ingrédients</MudText>

                    @foreach (IngredientDto ingredient in _recipe.Ingredients)
                    {
                        <MudText Class="ma-4">- @ingredient.Name</MudText>
                    }
            </MudPaper>
            <MudPaper Class="pb-4">
                <MudText Align="Align.Center" Color="Color.Secondary" GutterBottom="true" Class="pt-4 mt-2">Etapes</MudText>
                    @foreach (StepDto step in _recipe.Steps)
                    {
                        <MudText Class="ma-4">@step.Order - @step.Instruction</MudText>
                    }
            </MudPaper>
        <div  Class="mt-4">
            <MudButton 
                Variant="Variant.Filled" 
                Color="Color.Primary" 
                FullWidth="true" 
                Class="mt-4"
                Href="@($"/recipes/{Id}/edit")">
                Modifier
            </MudButton>
            <MudButton 
                Variant="Variant.Filled" 
                Color="Color.Error" 
                FullWidth="true" 
                Class="mt-4"
                OnClick="Delete">
                Supprimer            
            </MudButton>
            <MudMessageBox @ref="_confirmDialog" 
                Title="Supprimer la recette" 
                CancelText="Annuler">
                <MessageContent>
                    Êtes-vous sûr de vouloir supprimer cette recette ?
                </MessageContent>
                <YesButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Error">Supprimer</MudButton>
                </YesButton>
            </MudMessageBox>
        </div>
        }
    </MudPaper>
</MudContainer>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private RecipeDto? _recipe;
    bool _isLoading = false;
    string? _errorMessage = "";

    MudMessageBox _confirmDialog = null!;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        _errorMessage = null;
        try
        {
            _recipe = await RecipeService.GetRecipeByIdAsync(Id);
            _recipe.Steps = _recipe.Steps.OrderBy(s => s.Order).ToList();
        }
        catch (Exception)
        {
            _errorMessage = "Un problème est survenu lors du chargement de votre recette";
            //attendre un peu
            Navigation.NavigateTo($"/recipes");
        }
        finally
        {
            _isLoading = false;
        }
    }
    private async Task HandleRedirection()
    {
        Navigation.NavigateTo($"/recipes");
    }

    private async Task Delete()
    {
        bool? result = await _confirmDialog.ShowAsync();
        if (result != true) return;

        await RecipeService.DeleteRecipe(Id);
        Snackbar.Add("Recette supprimée !", Severity.Success, config =>
        {
            config.VisibleStateDuration = 1500;
            config.ShowCloseIcon = false;
        });
        Navigation.NavigateTo("/recipes");
    }

}