@page "/recipes/new"
@attribute [Authorize]
@inject IRecipeService RecipeService

<MudContainer MaxWidth = "MaxWidth.ExtraSmall">        
    <MudPaper Class="pa-4 pb-8 ma-4" Elevation="3" Align="Center">
        <MudText Typo="Typo.h5"
            Align="Align.Center"
            GutterBottom="true"
        >
            Importer une recette
        </MudText>
    <div Align="Center" style="border: 1px solid #ccc; padding: 16px; margin-top: 16px; border-radius: 4px;">
        <MudFileUpload T="IBrowserFile" FilesChanged="@UploadFile">
            <CustomContent>
                <MudButton Variant="Variant.Filled"
                    Style="text-transform: none;"
                    OnClick="@context.OpenFilePickerAsync"
                    StartIcon="@Icons.Material.Filled.CloudUpload"
                >
                    Selectionner un fichier
                </MudButton>
            </CustomContent>
            <SelectedTemplate />
        </MudFileUpload>
        @if (_selectedFile != null)
        {
            <MudText Typo="Typo.body2" Class="mt-2">
                Fichier : @_selectedFile.Name
                <MudIconButton Icon="@Icons.Material.Filled.Close" 
                    Size="Size.Small" 
                    Color="Color.Primary"
                    OnClick="() => _selectedFile = null" />
            </MudText>
        }else
        {
            <MudText Typo="Typo.body2" Class="mt-2">
                exemple : photo.jpg
            </MudText>
        }
        </div>
        @if (_selectedFile != null)
        {
            <MudButton
                Class="mt-8"
                Disabled="_isLoading"
                Variant="Variant.Filled" 
                Color="Color.Primary"
                @onclick="HandleGeneration"            
            >
            @if (_isLoading)
            {
                <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                <span>Génération en cours</span>
            }
            else
            {
                <span>Prévisualiser le résultats</span>
            }
        </MudButton>
        }
    </MudPaper>
    
    @* // Previsialisation section     *@
    @if (_newRecipe != null)
    {
        <MudPaper Class="pa-4 ma-4" Elevation="3" Align="Center">
            <MudText Typo="Typo.h5"
                Align="Align.Center"
                GutterBottom="true"
                Class="pa-4"
            >
                Votre nouvelle recette
            </MudText>
            <RecipeForm Recipe="_newRecipe" OnSave="HandleCreation" />
        </MudPaper>
    }
</MudContainer>

@code
{  
    private ExtractedRecipeDto? _extractedRecipe;
    private RecipeFormModel? _newRecipe;
    private string? _errorMessage;
    private IBrowserFile? _selectedFile;
    bool _isLoading = false;
    bool _isValid = false;
    
    private void UploadFile(IBrowserFile file)
    {
        _selectedFile = file;
    }

    private async Task HandleGeneration()
    {
        if (_selectedFile == null) 
        {
            return;
        }
        _isLoading = true;
        _errorMessage = null;
        
        try
        {
            var stream = _selectedFile.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);
            _extractedRecipe = await RecipeService.ScanImageAsync(stream);
            _newRecipe = MapToFormModel(_extractedRecipe);
        }
        catch (Exception ex)
        {
            _errorMessage = "Un problème est survenu lors du scan de la recette";
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task HandleCreation(RecipeFormModel recipe)
    {

    }

    //Mapper
    private RecipeFormModel MapToFormModel (ExtractedRecipeDto extractedRecipeDto)
    {
        RecipeFormModel recipe = new RecipeFormModel
        {
            Title = extractedRecipeDto.Title,
            Servings = extractedRecipeDto.Servings,
            PrepTimeMinutes = null,
            Ingredients = extractedRecipeDto.Ingredients.Select(i => new IngredientCreateDto { Name = i }).ToList(),
            Steps = extractedRecipeDto.Steps.Select((s, index) => new StepCreateDto { 
                    Instruction = s, 
                    Order = index + 1 
                }).ToList()
        };
        return recipe;
    }
}
