@page "/recipes/new"

@attribute [Authorize]

<MudContainer MaxWidth = "MaxWidth.ExtraSmall">        
    <MudPaper Class="pa-4 pb-8 ma-4" Elevation="3" Align="Center">
        <MudText Typo="Typo.h5"
            Align="Align.Center"
            GutterBottom="true"
        >
            Importer une recette
        </MudText>
        <div Align="Center" style="border: 1px solid #ccc; padding: 16px; margin-top: 16px; border-radius: 4px;">
        <MudFileUpload T="IBrowserFile" FilesChanged="@UploadFile">
            <CustomContent>
                <MudButton Variant="Variant.Filled"
                    Style="text-transform: none;"
                    OnClick="@context.OpenFilePickerAsync"
                    StartIcon="@Icons.Material.Filled.CloudUpload"
                >
                    Selectionner un fichier
                </MudButton>
            </CustomContent>
            <SelectedTemplate />
        </MudFileUpload>
        @if (_selectedFile != null)
        {
            <MudText Typo="Typo.body2" Class="mt-2">
                Fichier : @_selectedFile.Name
                <MudIconButton Icon="@Icons.Material.Filled.Close" 
                    Size="Size.Small" 
                    Color="Color.Primary"
                    OnClick="() => _selectedFile = null" />
            </MudText>
        }else
        {
            <MudText Typo="Typo.body2" Class="mt-2">
                exemple : photo.jpg
            </MudText>
        }
        </div>
        @if (_selectedFile != null)
        {
            <MudButton
                Class="mt-8"
                Disabled="_isLoading"
                Variant="Variant.Filled" 
                FullWidth="true"
                Color="Color.Primary"
                @onclick="HandleGeneration"            
            >
            @if (_isLoading)
            {
                <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                <span>Génération en cours</span>
            }
            else
            {
                <span>Prévisualiser le résultats</span>
            }
        </MudButton>
        }
    </MudPaper>
    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <MudAlert Severity="Severity.Error" Class="ma-4">@_errorMessage</MudAlert>
    }

    @* // Previsialisation section     *@
    @if (_newRecipe != null)
    {
        <MudPaper Class="pa-4 ma-4" Elevation="3" Align="Center">
            <MudText Typo="Typo.h5"
                Align="Align.Center"
                GutterBottom="true"
                Class="pa-4"
            >
                Votre nouvelle recette
            </MudText>
            <RecipeForm Recipe="_newRecipe" OnSave="HandleCreation" />
        </MudPaper>
    }
</MudContainer>
